
*.db

DataGrip2024.2/codestyles/

DataGrip2024.2/consoles/.history/db/

*.sql

*.json

DataGrip2024.2/options/

DataGrip2024.2/workspace/

WebStorm2024.2/codestyles/

WebStorm2024.2/.lock

WebStorm2024.2/options/

WebStorm2024.2/tasks/

WebStorm2024.2/workspace/
